 h1{
    color:blue;
 }
  /*{
    border: solid;
}*/
h5{
    color: #aaaaaa;
    
    font-weight:bolder;

    font-style:inherit ;
}
.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    display: flex; 
    justify-content: flex-end;
    
}
p.h2 {
    text-align: center;
}
body {
    background-color: #1a4c6f;
}


